body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.card {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
}

.service-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;}